[submodule "vendor/usrsctp"]
	path = vendor/usrsctp
	url = https://github.com/sctplab/usrsctp.git
[submodule "vendor/openssl"]
	path = vendor/openssl
	url = https://github.com/openssl/openssl.git
[submodule "vendor/glog"]

	path = vendor/glog
	
url = https://github.com/google/glog.git
[submodule "vendor/libnice"]
	path = vendor/libnice
	url = https://github.com/libnice/libnice.git
